{% extends "base.html" %} {% block body %}

<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black">
        <a href="/todos/create">Create a todo</a>
        <ul>
          {% for todo in todos %}
          <li>
            <a href="/todos/{{todo.id}}">{{ todo.title }}</a
            ><a href="/todos/delete/{{todo.id}}">🗑️</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
